# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tasks_db

# Configuración de la aplicación
DATA_SOURCE=DATA_SOURCE

# Configuración del servidor
PORT=3000
NODE_ENV=development
